$meli-background-yellow: #FFE600;
$meli-background-white: #FFF;
$meli-background-light-grey: #EEE;
$meli-text-grey: #999;
$meli-text-dark-grey: #333;
$meli-background-blue: #3483FA;
$meli-background-transparent-blue: rgba(79, 133, 233, 0.568);
