@import '../../styles/variables.scss';

.search-bar {
    display: flex;
    background-color: $meli-background-yellow;
    height: 1.8rem;
    padding: 0.5rem 1rem;

    @media (min-width: 768px) {
        height: 2rem;
        padding: 0.5rem 12rem;
    }

    &__icon {
        align-items: flex-end;
        background-color: $meli-background-light-grey;
        padding: 0.35rem;

        @media (min-width: 768px) {
            padding: 0.5rem;
        }
    }

    &__input {
        width: 100%;
        background-color: $meli-background-white;
        padding: 0.5rem;
        margin-left: 1rem;
        border: none;
    }


    &__logo-container {
        display: flex;
        height: 2rem;
    }

    &__logo-img {
        height: 1.8rem;
        align-self: center;
    }

    &__logo-search {
        height: 1rem;
    }
}