@import '../../styles/variables.scss';

.button {

    &__fullwidth,
    &__normal {
        background-color: $meli-background-blue;
        color: $meli-background-white;
        font-size: 12px;
        border-radius: 4px;
        padding: 0 1rem;

        @media (min-width: 768px) {
            font-size: 1rem;
        }
    }

    &__fullwidth {
        width: 100%;
    }

    &__normal {
        padding: 0 3rem;
    }

    &__text {
        padding: 0;
        margin: 0.5rem;

        @media (min-width: 768px) {
            margin: 0.8rem;
        }
    }
}